@import "/src/styles/_colors";
@import "/src/styles/_variables";

.link {
    display: flex;

    .logo {
        color: $baseBrand;
        width: 150px;
        height: 24px;
    }
}

@media (max-width: 560px) {

    .link {

        .logo {

            width: 112.5px;
            height: 18px;
        }
    }
}