$baseBlack: #172029;
$baseWhite: #fff;
$baseBrand: #0073e6;
$baseBrandLight1: #99c7f5;
$baseBrandLight2: #e6f1fc;
$baseBrandLight3: #f2f6fa;
$baseGray: #808080;
$baseGrayLight1: #f2f2f2;
$baseAccent: #fabc22;
$baseFocus: #ed2c19;


$background: mix(#0073e6, rgb(0, 0, 0, 0.8));