$text-shadow-black-hover: 
    0.2px 0.2px 0.5px rgba(0, 0, 0, 0.355),
    -0.2px -0.2px 0.5px rgba(0, 0, 0, 0.355),
    0.2px -0.2px 0.5px rgba(0, 0, 0, 0.355),
    -0.2px 0.2px 0.5px rgba(0, 0, 0, 0.355);

$transition-hover: 0.3s ease;

$baseFontSize: 16px;