@import "/src/styles/_colors";
@import "/src/styles/_variables";

.productItem {
    position: relative;
    display: flex;
    justify-content: center;

    .elLoader {
        margin-top: 30vh;
        margin-bottom: 30vh;
    }
    
    .elIconButton {
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media (max-width: 1050px) {

    .productItem {

        .backButton {
            top: -25px;
        }
    }
}

@media (max-width: 767px) {

    .productItem {

        .backButton {
            display: none;
        }
    }
}