@import "/src/styles/_colors";
@import "/src/styles/_variables";

.productCard {
    border-radius: 16px;
    background: $baseWhite;
    overflow: hidden;
    max-width: 250px;
    transition: $transitionHover;
    cursor: pointer;

    display: flex;
    flex-direction: column;

    &:hover {
        box-shadow: $boxShadowContainer;
        transform: scale(1.01);
    }

    .imgBlock {
        padding: 5px 5px 0;
        flex-grow: 1;
        
        .image {
            width: 100%;
            max-width: 450px;
        }
    }

    .infoBlock {
        padding: 12px 16px 16px;

        .title {
            text-align: left;

            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            line-clamp: 1;
            overflow: hidden;
            max-height: 22px;
        }

        .rating {
            position: relative;
            display: flex;
            margin-bottom: 8px;

            .substrate {
                position: absolute;
                top: 0;
                left: 0;
                min-width: 76px;
                min-height: 16px;
                color: $baseBrandLight3;
            }

            .fill {
                min-width: 76px;
                min-height: 16px;
            }
        }

        .price {
            font-weight: 800;
            font-size: 22px;
            text-align: left;
        }
    }
}

@media (max-width: 560px) {

    .productCard {
        min-width: 125px;

        .infoBlock {

            .price {
                font-size: 18px;
            }
        }
    }
}