@import "/src/styles/_colors";
@import "/src/styles/_variables";

.dropdownMenu {
    padding: 8px 7px;
    min-width: 135px;
    background: $baseWhite;
    box-shadow: $boxShadowContainer;
    border-radius: 12px;

    .itemsList {
    
        display: flex;
        flex-direction: column;
        gap: 8px;
    
        .item {
            cursor: pointer;
            width: fit-content;
    
            &:hover {
                font-weight: 700;
            }
        }
    }
}