@import "/src/styles/_colors";
@import "/src/styles/_variables";

.card {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: $baseWhite;
    overflow: hidden;
    max-width: 250px;
    transition: $transitionHover;
    cursor: pointer;

    &:hover {
        box-shadow: $boxShadowContainer;
        transform: scale(1.01);
    }

    .imgBlock {
        padding: 5px 5px 0;
        flex-grow: 1;
        
        img {
            max-width: 450px;
        }
    }

    .infoBlock {
        padding: 12px 16px 16px;
        text-align: start;

        .elCard {
            margin-bottom: 8px;
        }
    }
}

@media (max-width: 560px) {

    .card {
        min-width: 125px;
    }
}