@import "/src/styles/_colors";
@import "/src/styles/_variables";

.burgerWrap {
    position: relative;
    display: none;

    .burgerButton {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        background: transparent;
        cursor: pointer;

        .band {
            display: block;
            width: 22px;
            border: solid 2px $baseBrand;
            border-radius: 3px;
        }
    }

    .active {
        transition: $transitionHover;
        rotate: 90deg;
    }

    .inactive {
        transition: $transitionHover;
    }

    .insert {
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 1;
        opacity: 0;
        transition: $transitionHover;
    }

    .insertShow {
        opacity: 1;
        transition: $transitionHover;
    }
}

@media (max-width: 767px) {

    .burgerWrap {
        display: block;
    }
}