@import "/src/styles/_colors";
@import "/src/styles/_variables";


.group {
    display: flex;
    flex-direction: column;
    align-items: end;
}

@media (max-width: 350px) {

    .group {
        min-width: 70px;
    }
}