@import "/src/styles/_colors";
@import "/src/styles/_variables";

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 25px;

    .imagesBlock {
        display: flex;
        gap: 50px;
        height: 200px;
        align-items: center;

        .reactImg {
            width: 100px;
            animation: run 1.25s infinite ease-in-out;

            @keyframes run {
                0% {
                    transform: scale(0.9);
                }

                50% {
                    transform: scale(1);
                }
                
                100% {
                    transform: scale(0.9);
                }
            }
        }

        .webpackImg {
            width: 100px;
            animation: run 1.25s infinite ease-in-out;
            animation-delay: 0.625s;

            @keyframes run {
                0% {
                    transform: scale(0.9);
                }

                50% {
                    transform: scale(1);
                }
                
                100% {
                    transform: scale(0.9);
                }
            }
        }
    }

    .icon {
        color: #029491;
    }

    .counterblock {
        display: flex;
        gap: 50px;

        .counterState {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .counterStore {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .button {
            padding: 20px;
            font-family: 'Ferry Black';
            cursor: pointer;
            border: none;
            max-width: 250px;
            width: 100%;
            border-radius: 5px;
            background: #000;
            color: #fff;
            transition: $transition-hover;
            font-size: 30px;
        
            &:hover {
                color: #000;
                background: #ffffff;
                box-shadow: 1px 2px 5px rgba(#000, 0.4);
            }
        
            &:active {
                scale: 0.85;
            }
        }
        
        .value {
            font-family: 'Ferry Black';
            font-size: 100px;
            text-align: center;
        }
    }

    .linksBlock {
        font-size: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        .link {
            color: #029491;
            font-weight: 700;
            transition: $transition-hover;

            &:hover {
                text-shadow: $text-shadow-black-hover;
                text-decoration: underline;
            }
        }
    }
}