@import "/src/styles/_colors";
@import "/src/styles/_variables";

.defaultInput {
    height: 52px;
    width: 100%;
    min-width: 52px;

    .input {
        color: $baseBlack;
        padding: 16px 8px;
        outline: none;
        background: $baseWhite;
        font-family: inherit;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        width: 100%;
        border: 1px solid $baseGrayLight1;
        border-radius: 12px;
        transition: $transitionHover;

        &:hover {
            box-shadow: inset 0 0 0 1px $baseBrand;
        }

        &:focus {
            box-shadow: inset 0 0 0 2px $baseBrand;
        }

        &::placeholder {
            color: $baseGray;
        }
    }

    .disabled {
        opacity: 0.4;
        pointer-events: none;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}