@import "/src/styles/_colors";
@import "/src/styles/_variables";

.products {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
    height: 100%;

    .elLoader {
        margin-top: 30vh;
        margin-bottom: 30vh;
        flex: 1;
    }

    .wrapShowcase {
        flex: 1;

        .showcase {
            max-width: 1346px;
            justify-content: center;

            display: flex;
            flex-wrap: wrap;
            gap: 24px;

            /* display: grid;
            grid-template-columns: repeat(5, 250px);
            grid-gap: 24px; */
        }
    }
}

@media (max-width: 560px) {

    .products {

        .wrapShowcase {

            .showcase {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 18px;
            }
        }
    }
}