@import "/src/styles/_colors";
@import "/src/styles/_variables";

.products {
    text-align: center;
    display: flex;
    justify-content: center;

    .showcase {
        max-width: 1346px;
        justify-content: center;

        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        /* display: grid;
        grid-template-columns: repeat(5, 250px);
        grid-gap: 24px; */
    }
}

@media (max-width: 560px) {

    .products {

        .showcase {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 18px;
        }
    }
}